<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forma</title>
</head>
<body>
    <form action="" method="post">
        imie
        <br>
        <input type="text" name="firstName" id="firstName">
        <br>
        nazwisko
        <br>
        <input type="text" name="lastName" id="lastName">
    <button type="submit">zapisz</button>
    </form>
</body>
</html>